$selected-background-color: #CFD8DC;

$full-content: 100%;
$position-absolute: absolute;

$customer-list-width: 380px;

page-customers {

    .no-scroll {
       .scroll-content {
            overflow: hidden !important;
        }
    }

    ion-card {
        #map {
            width: 100%;
            height: 550px;
            opacity: 0;
            transition: opacity 150ms ease-in;

            &.show-map {
                opacity: 1;
            }
        }
    }

    .selected {
        background-color: $selected-background-color !important;
    }

    #customer-list {
        width: $customer-list-width;
        height: $full-content;
        position: $position-absolute;
    }

    #customer-detail {
        left: $customer-list-width;
        width: $full-content;
        height: $full-content;
        position: $position-absolute;
    }

}
