page-customers {

    ion-content {
        .scroll-content {
            overflow-y: hidden;
        }
    }

    ion-card {
        #map {
            width: 100%;
            height: 550px;
            opacity: 0;
            transition: opacity 150ms ease-in;

            &.show-map {
                opacity: 1;
            }
        }
    }

}
